* {
  margin: 0px;
  padding: 0px;
  
}
.titulo {
  text-align: center;
  margin-bottom:10px;
}
.contenedor {
  margin: auto;
  background-color: rgb(0, 214, 143);
  text-align: center;
}
.juego {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap; 
  margin: 0 auto;
  overflow: hidden;
  width:540px;
  border: 1px solid black;
  background-color: dimgrey;
  cursor:pointer;
  
}
.cuadrado { 
  box-sizing: border-box; 
 
  
}


.color{
    background-color: black;
}
.color1{
    background-color: dimgrey;
}
.marco{
    background-color: firebrick;
    width: 700px;
    margin:0 auto;
    padding: 20px;
    border-radius:5%;
    border:4px solid black;
}
.menu{
    margin:0 auto;
    width: 600px;
    display: flex;
    justify-content:space-around;  
}
.resize{
    font-family: 'Lilita One', cursive;
    margin-top:20px;
    font-size:25px;  
    cursor:pointer;
    border-radius: 50%;
    padding: 28px 10px 28px 10px;
    border:2px solid black
    
}
.colorido{
    font-family: 'Lilita One', cursive;
    margin-top:20px;
    font-size:25px;  
    cursor:pointer;
    border-radius: 50%;
    padding: 28px 0px 28px;
    border:2px solid black 

}

footer .cop{
    color:white;
    font-size: 30px;
    padding-bottom: 40px;
    padding-top: 20px;
    
}